# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Backend specific
backend/node_modules/
backend/.env
backend/*.log
backend/public/
backend/data/users.json
backend/data/orders.json

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
*.local
*.env
